@import "./_colors.scss";
@import "./_fonts.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $background;
  color: $text;
  font: 62.5%/1.4 "Monterrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-kerning: normal;
  font-size: 1rem;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h1, h2, h3, h4, h5, h6 {
  cursor: default;
  font-weight: 300;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

core, pre {
  overflow: scroll;
  font-family: "Fira Mono", "Operator Mono", "Inconsolata", monospace;
  font-size: 0.8rem;
}

.container {
  width: 100%;
}

.nav {
  background: $background;
  box-shadow: 0 5px 15px $shadow;

  &__items {
    list-style-type: none;
    padding: 0 1rem;
  }

  &__item {
    display: inline-block;

    a {
      display: inline-block;
      padding: 1rem 0.5rem;
      color: $text-faded;
      font-size: 0.8rem;
      font-weight: 400;
      letter-spacing: 1px;
      text-decoration: none;
      text-transform: uppercase;
      transition: color 0.3s ease-in-out;
    }

    &:hover a,
    &--active a {
      color: $text;
    }
  }
}

.table {
  border-collapse: collapse;
  width: 100%;

  th {
    cursor: default;
    letter-spacing: 0.05rem;
    color: $text-faded;
    font-size: 0.8rem;
    font-weight: 400;
    text-transform: uppercase;
  }

  td, th {
    border-bottom: 1px solid $shadow;
    padding: 1rem;
    text-align: right;
    text-overflow: ellipsis;
    width: 80px;
    white-space: nowrap;

    &:nth-child(1) {
      width: auto;
      text-align: left;
    }
  }

  td {
    &:nth-child(n) {
      border-bottom: none;
      border-radius: 0 0 4px 4px;
    }
  }
}

.page {
  padding: 1rem 0;
}

@media (min-width: 1024px) {
  .container {
    margin: 0 auto;
    width: 960px;
  }
}
