@import "./_colors.scss";
@import "./_fonts.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $background;
  color: $text;
  font: 62.5%/1.4 "Monterrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-kerning: normal;
  font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  cursor: default;
  font-weight: 300;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.container {
  width: 100%;
}

.nav {
  background: $background;
  box-shadow: 0 5px 15px $shadow;

  &__items {
    list-style-type: none;
    padding: 0 1rem;
  }

  &__item {
    display: inline-block;

    a {
      display: inline-block;
      padding: 1rem 0.5rem;
      color: $text-faded;
      font-size: 0.8rem;
      font-weight: 400;
      letter-spacing: 1px;
      text-decoration: none;
      text-transform: uppercase;
      transition: color 0.5s ease-in-out;
    }

    &:hover a,
    &--active a {
      color: $text;
    }
  }
}

.page {
  padding: 1rem 0;
}

@media (min-width: 1024px) {
  .container {
    margin: 0 auto;
    width: 960px;
  }
}
